{% extends 'base.html' %}

{% block content %}
{% if request.user.is_authenticated %}
{% else %}
<p id="not-logged"> <a href="{% url 'login' %}">You are not logged in.</a></p>
{% endif %}
    {% for post in posts %}
        <div class="post-entry">
            <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
            <h5>By:- <a href="{% url 'profile' post.author.id %}"> {{ post.author }}</a></h5>
            <p>{{ post.body|truncatewords:60 }}</p>
        </div>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>
    
            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">next</a>
                <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock content %}
